html{
    padding: 1% 20%;
    animation: color-change 20s linear infinite;
}

h1, h2{
    margin: 0;
}

body{
    background-image: url(https://images.unsplash.com/photo-1633177241576-7a5359cee08d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1250&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    color: aliceblue;
}

.heading, .game-display{
    padding: 3%;
}

.title-img{
    width: 15%;
}

@keyframes color-change {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(180deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
